body{
    width:100%;
    height:100vh;
    margin:0;
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family:sans-serif;
    padding:20px;
}
h1{
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
}
h2{
    font-size:30px;
}
.established{
    font-style: italic;
}
 h1,h2,p{
    text-align:center;
 }
 .menu{
    width:80%;
    background-color: burlywood;
    margin-left:auto ;
    margin-right: auto;
    padding:20px;
    max-width:500px;
 }
 img{
    display:block;
    margin-left:auto;
    margin-right:auto;

 }
 hr{
    height:2px;
    background-color:brown;
    border-color:brown;
 }
 h1,h2{
    font-family: sans-serif;
 }
 .item p{
    display:inline-block;
 }
 .flavor, 
 .dessert{
   width:74%;
   text-align:left;
   
 }
 .price{
    width:25%;
    text-align:right;
 }
 a:visited{
   color:black;
 }

 a:hover,a:active{
   color:brown;
 }
  
 